:root {
    --themeColor: #46ea8d;
    --basicFont: Segoe UI Semibold;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: var(--basicFont);
}
#main {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
}
#inputBody {
    height: 39vw;
    width: 26vw;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-start  */
    flex-direction: column;
    padding: 2% 2%;
    position: relative;
    margin: 0px 0vw 0px 10vw;
    border-radius:20px 0px 0px 20px;
    border:.1vw solid rgb(70, 234, 141);
    border-right-width: 0px;
}
#outputBody {
    height: 39vw;
    width: 40vw;
    background: #363636;
    padding: 2% 2%;
    margin: 0px 10vw 0px 0vw;
    border-radius:0px 20px 20px 0px;
    border:.1vw solid rgb(70, 234, 141);
    border-left-width: 0px;
}
#heading{
    color:#efefef;
    text-align:center;
    margin:0;
}
#detailBox {
    height: 64%;
    width: 88%;
    border-radius: 9px;
    position: absolute;
    top: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
    overflow: hidden;
    border: 1px solid #212121;  
}
.themeInputBox{
    height: 32px;  /*2.5vw*/
    width: 82%;
    border-radius: 15px;
    background: transparent;
    outline: none;
    padding: 0px 3.5% 0px 3.5%;
    color: white;
    font-size: 1.2vw;
    resize: none;
    border: 1.5px solid #b3b3b3;
    transition: filter .4s;
    letter-spacing: .08vw;
}
#detailBox input {    
    margin: 4.5%;    
}
.themeInputBox::-ms-input-placeholder {
    color:#b3b3b3;letter-spacing: 0.95vw;
  }
.themeInputBox::placeholder{color:#b3b3b3;letter-spacing: .095vw;}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.themeInputBox:focus {
    border-color: rgb(70, 234, 141);
}
#detailBox p{
    color: rgb(200, 200, 200);
    font-size: 1.2vw;
    margin: 5px;
    position: absolute;
    display: none;
    filter: opacity(0);
    transition: filter .4s;
}
#advanceBox label{
    font-size: 1.03vw;
    letter-spacing: .04vw;
    font-family: 'Times New Roman', Times, serif;
}
#detailBox p:hover {
    color: silver;
    text-decoration: underline;
    cursor: pointer;
}
#detailBox div {
    display: flex;
    flex-direction: row;
    margin: 0% 1.5% 0% 1.5%;
}
#advanceBox {
    height: 6%;
    width: 78%; /*69.5%*/
    position: absolute;
    bottom: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: height .4s, border-color .4s, background-color .2s;
    border: .12vw solid var(--themeColor);
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--themeColor);
   
}
#taglistOpener {
    height: 2.6vw;
    width: 99%;
    background: #46ea8dd4;
    border: none;
    border-radius: 9px;
    margin-bottom: 1.5vw;
    cursor: hand;
    display: none;
    filter: opacity(1);
    transition: filter .4s, border-radius .5s;
    font-size: 1.2vw;
    letter-spacing: .07vw;
    font-family: var(--basicFont);
    cursor: pointer;
}
#taglistOpener:focus {
    border-radius: 9px 9px 0px 0px;
    background:var(--themeColor);
}
#taglistOpener:hover {
    background:var(--themeColor);
}
#elementList {
    position: absolute;
    top: 8.8%;
    height: 0%;
    width: 99%;
    background: #838282;
    border-radius: 0vw 0vw 1vw 1vw;
    filter: opacity(1);
    transition: filter .4s, height .4s;

}
#elementList option {
    height: 2vw;
    width: auto;
    background: #a6a6a6;
    padding-top: .3vw;
    font-size: 1.2vw;
    font-family: Segoe UI Semibold;
    margin: .4vw .2vw .2vw .2vw;
    text-align: center;
    filter: opacity(0);
    font-weight: lighter;
    letter-spacing: .06vw;
    display:none;
    transition: filter .3s, margin-top .3s;
}
#elementList option:hover {
    background: #5c5c5c;
    color: white;
    font-weight: bold;
}
#elementList option:last-child {
    border-radius: 0vw 0vw 1vw 1vw;
}
#historyPanel {
    height: 21vw;
    width: 99%;
    background: #474747;
    margin-top: 2%;
    border-radius: 9px;
    overflow-y: auto;
    display: none;
    transition: filter .4s;
}
#advanceBox label {
    color: silver;
    margin: 0px;
    padding-left: 11px;
    width: 96%;
    display: none;
    transition: filter .4s;
}

#advanceBox p {
    position: absolute;
    margin-top: .4vw;
    font-weight: bolder;
    font-family: Segoe UI Semibold;
    color:black;
    font-size: 1.1vw;
    letter-spacing: .08vw;
}
.commonbtn{
 height:2.7vw;
 width: 11.65vw; /* 9.7vw */
 border: 1px solid #91e7d9;;
 background-color:#b0b0b0;
 font-size: 1.15vw;
 font-family: var(--basicFont);
 letter-spacing: .08vw;
 transition: transform .2s;
 cursor: pointer;
}
#inputBody div:last-child{
   width:78%;  /* 65 */
   display: flex;
   justify-content: space-between;
   position: absolute;
   bottom: 2.8vw;
}
#inputBody div:last-child button:hover{background-color: #91e7d9;}
#okbtn{
    border-radius: 10px 0px 0px 10px;
    background-color: #39beca;
}
#cancelbtn{
    border-radius: 0px 10px 10px 0px;
}
#themebtn{
    border-radius: 9px;
    margin-top: 1vw;
    width: 99%;
    background-color: transparent;
    border:.15vw solid #838282;
    display:none;
    transition: filter .4s;
    color: #838282;
}