:root {
    --themeColor: #46ea8d;
}

body {
    margin: 0;
    overflow:hidden;
}

#main {
    width:100%;
    height:100%;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
}

#inputBody {
    height: 39vw;
    width: 26vw;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-start  */
    flex-direction: column;
    padding: 2% 2%;
    position: relative;
    margin: 0px 0vw 0px 10vw;
}

#outputBody {
    height: 39vw;
    width: 40vw;
    background: #363636;
    padding: 2% 2%;
    margin: 0px 10vw 0px 0vw;
}

#detailBox {
    height: 64%;
    width: 80%;
    border-radius: 9px;
    position: absolute;
    top: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
    overflow: hidden;
    border: 1px solid #212121;
}

#detailBox input {
    height: 2.8vw;
    width: 89%;
    margin: 4.5%;
    border-style: solid;
    border-radius: 15px;
    background: transparent;
    outline: none;
    padding: 0px 15px 0px 15px;
    color: #919191;
    color: white;
    font-size: 1.3vw;
    resize: none;
    border-width: 1.5px;
    transition: filter .4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#detailBox input:focus {
    border-color: rgb(70, 234, 141);
}

#detailBox p {
    color: rgb(200, 200, 200);
    font-size: 17px;
    margin: 5px;
    position: absolute;
    display: none;
    filter: opacity(0);
    transition: filter .4s;

}

#detailBox p:hover {
    color: silver;
    text-decoration: underline;
}

#detailBox div {
    display: flex;
    flex-direction: row;
    margin: 0% 2% 0% 2%;
}

#advanceBox {
    height: 6%;
    width: 69.5%;
    border: 0px solid gray;
    position: absolute;
    bottom: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: height .4s, border-color .4s;
    border: 1px solid var(--themeColor);
    overflow: hidden;
    border-radius: 9px;
}

#advanceBox #advanceEditOpener {
    background: var(--themeColor);
    width: 200px;
    padding: 9;
    margin: 0;
    text-align: center;
    cursor: hand;
}

#taglistOpener {
    height: 2.6vw;
    width: 99%;
    background: var(--themeColor);
    border: none;
    border-radius: 9px;
    margin-bottom: 1.5vw;
    cursor: hand;
    display: none;
    filter: opacity(1);
    transition: filter .4s, border-radius .5s;

}

#taglistOpener:focus {
    border-radius: 9px 9px 0px 0px;
}

#taglistOpener:hover {
    background: white
}

#elementList {
    position: absolute;
    top: 8.8%;
    height: 0%;
    width: 99%;
    background: #838282;
    border-radius: 0vw 0vw 1vw 1vw;
    filter: opacity(1);
    transition: filter .4s, height .4s;

}

#elementList option {
    height: 2vw;
    width: auto;
    background: #a6a6a6;
    padding-top: .3vw;
    font-size: 1.2vw;
    font-family: Segoe UI Semibold;
    margin: .4vw .2vw .2vw .2vw;
    text-align: center;
    filter: opacity(0);
    font-weight: lighter;
    transition: filter .3s, margin-top .3s;
}

#elementList option:hover {
    background: #5c5c5c;
    color: white;
    font-weight: bold;
}

#elementList option:last-child {
    border-radius: 0vw 0vw 1vw 1vw;
}

#historyPanel {
    height: 21vw;
    width: 99%;
    background: #474747;
    margin-top: 2%;
    border-radius: 9px;
    overflow-y: auto;
    display: none;
    transition: filter .4s;
}

#advanceBox label {
    color: silver;
    margin: 0px;
    padding-left: 11px;
    width: 96%;
    display: none;
    transition: filter .4s;
}

#advanceBox p {
    position: absolute;
    margin-top: .6vw;
}