body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--basicFont);
    background: #151515;
    display:flex;
    justify-content: center;
    align-items: center;
}
#SelectThemeButton {
    width: 17%;
    height: 8%;
    margin: 20% 0% 0% 55%;
    position: absolute;
    font-size: 36px;
    text-align: center;
    border:.1vw solid #d52f62;
    border-radius: 2px 2px 2px 2px;
    background-color: #212121;
    color: #d52f62; 
    font-family: comic sans MS;
}
#SelectThemeButton:hover {
    background-color: #d52f62;
    color: white;
    transition: 0.6s;
    transform: scale(1.07);
    font-size: 35px;
}
#ThemeSection {
    position: absolute;
    left: 13vw;
    bottom: 100px;
    width: 21%;
    height: 0px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    transition: height .2s;
    overflow: scroll;
    overflow-x: hidden;
}
#closeMain {
    padding:10px;
    position:absolute;
    right:0px;
    top:0px;
    border: none;
}
h1 { 
    font-size: 25px; 
    margin-left: 22px; 
    margin-top: 15px; 
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}
.SelectTextBox {
    display:flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: flex-start;
    width:100%;
    height: auto;
    /* border:2px solid red; */
    /* justify-content: center; */
}
.ElementContainer {
    display:flex;
    gap: 12px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3px;
}
.ElementContainer input[type=radio] {
    width: 30px;
    height: 65px;
    margin-left: 45px;
    cursor: pointer;
}
.ElementContainer input[type=radio]:hover { transform: scale(1.1); }
.circleTextboxgk { width: 190px; padding: 5px 14px; }
.singleLineButtominputboxgk {
    height: 10px;
    width: 205px;
    margin-top: -8px;
}
.singleLineButtominputboxgk input {
    padding: 10px 6px;
    background-color: transparent;
    border-bottom-color: rgb(58, 58, 58);
}
.txtcontainer {
    height: auto;
    width: 210px;
    padding: 0px 0px 1px 4px;
}
.contactTxt { font-size: 18px; background-color: transparent; }
.topname{ transform: scale(1.1) translate(5px,15px); }
.labelTextboxaajtak {
    width: 205px;
    margin: 0px;
    padding-left: 3px;
}
.labelTextboxaajtak input {
    width: 205px;
    height: 15px;
    border-top-width: 20px;
    margin: 0px;
}
.labelTextboxaajtak label { width: 205px; top: 18px; left: 6px; }
.switchCheckboxgk { height: 30px; width: 60px; }
.switchCheckboxgk:before { width: 30px; height: 30px; }
.switchCheckboxgk:checked:before { left: 30px; }
.checkboxMiddleSection {
    width:60px;
    height:31px;
    margin:0px 1px 0px 2px ;
}
.checkboxMiddleSection button {
    height:96%;
    width:50%;
    margin: 0.5px 0px 0px 0px ;  
}
.checkboxSlider {
    height:40px;
    width:40px;
    border-radius:50%;
    margin:5px 0px 5px -5px;
    transform:translatex(-6px);
}
.SelectTextBox input[type=radio] { margin-left: 35px ; }
.popuprange div:first-child{ top:-35px; }
.BoxRange { height:25px; width:198px; }
.containerCircleCheckboxgk {
    margin-left: 4px;
    margin-bottom: 0px;    
}
.popuprange {
    width:185px;
    height:10px;
    margin: 0px;
}

